<footer>
    <div class="cajaContacto">
      <h2 class="contact">Contacto:</h2>
      <p><strong class="contact">Email: vasomediolleno@hotmail.com</strong></p>
      <p><strong class="contact">Sobre Nosotros</strong></p>
      <p><strong class="contact">Preguntas Frecuentes</strong></p>
    </div>
    <div class="cajaRedes">
      <div class="redes">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="redes">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="redes">
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </footer>