  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Caudex&family=Dancing+Script&family=League+Spartan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Vaso 1/2 Lleno</title>
  </head>
  <header class="header">
    <nav class="navBar">
      <nav class="cajaLogoNavBar">
        <div class="home-conteinerLogoYTitle">
          <img class="logoNavBar" src="./images/logo1.png" alt="logo" />
          <div class="home-conteinerTitleVaso12Lleno">
            <p>Vaso</p>
            <p>1/2</p>
            <p>Lleno</p>
          </div>
        </div>
        <nav class="loginNavBar">
          <a href="/"><h4>Home</h4></a>
          <a href="/about"><h4>Sobre Nosotros</h4></a>
          <a href="/users/login"><h4>Iniciar Sesión</h4></a>
          <a href="/users/register"><h4>Registrarse</h4></a>
          <a href="/products/cart"><h4><i class="fas fa-shopping-cart"></i></h4></a>
        </nav>
          <i class="fas fa-bars"></i>
      </nav>
    </nav>
  </header>