 <!DOCTYPE html>
<html lang="en">
 <!--<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Caudex&family=Dancing+Script&family=League+Spartan:wght@200&display=swap" rel="stylesheet">
    <title>Vaso 1/2 Lleno</title>
  </head>
  
  <header class="login-header">
    <nav class="login-navBar">
              <nav class="login-cajaLogoNavBar">
                <div class="login-conteinerLogoYTitle">
                      <img class="login-logoNavBar" src="./images/logo1.png" alt="logo" />
                      <div class="login-conteinerTitleVaso12Lleno">
                          <p>Vaso</p>
                          <p>1/2</p>
                          <p>Lleno</p>
                        </div>
        </div>
        <nav class="login-loginNavBar">
          <a href="/"><h4>Home</h4></a>
          <a href="/about"><h4>Sobre Nosotros</h4></a>
          <a href="/users/login"><h4>Iniciar Sesión</h4></a>
          <a href="/users/register"><h4>Registrarse</h4></a>
          <a href="/products/cart"><h4><i class="fas fa-shopping-cart"></i></h4></a>
        </nav>
        <i class="fas fa-bars"></i>
      </nav>
    </nav>
  </header> -->
  <link rel="stylesheet" href="/css/login.css" />
<%- include('./partials/head-header')%>
<body>
<form action="login.html" method="POST">
    <label for="nombreUsuario" class="login-nombreUsuario">Nombre de usuario: 
        <input type="text" name="usuario" id="nombreUsuario" placeholder="Nombre de usuario" class="login-casillaNombreUsuario" required>
    </label>
    <label for="contraseña" class="login-contraseña">Contraseña: 
      <input type="password" name="contraseña" id="contraseña" placeholder="Escribir contraseña" class="login-casillaContraseña" required>
    </label>
    <div class="login-botones">
        <label for="enviar" class="login-enviar">
          <button type="submit" class="login-btnEnviar"><a href="/" class="login-txtEnviar">Enviar</a></button>
        </label>
        <label for="borrar" class="login-borrar">
          <button type="reset" class="login-btnBorrar">Borrar</button>
        </label>
        </div>
</form>
<%- include('./partials/footer'); %>
</body>
</html>