<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Caudex&family=Dancing+Script&family=League+Spartan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css"/>
    <title>Detail</title>
</head>
<body>
    <div class="detail-cajaWindowsClose">
    <i class="far fa-window-close"></i>
    </div>  
    <div class="detail-contenedorImagen">
    <img class="detail-imagenAmericana" src="./images/americana.jpg" alt="Trago Americana">
    </div>
    <div class="detail-description">
        <h3 class="detail-nombreTrago">Bloody Cherry</h3>
        <p class="detail-descriptionCoctel">El Bloody cherry es un cóctel distinto, se trata de un tomate cherry macerado en Bloody Mary.
        El Bloody Mary es un cóctel que tiene como base el zumo de tomate y se combina con vodka, zumo de limón,
        salsa perrins, tabasco, sal y pimienta. Las proporciones que usaremos para hacer el Bloody Mary son
        muy distintas a las habituales ya que la idea es potenciar todos los ingredientes para que luego se
        note el sabor del cóctel en el tomate cherry.</p>
    </div>
    <section class="detail-specialRequest">
        <div>
            <h4>Petición Especial.</h4>
            <input class="detail-specialRequestBox" type="text" name="peticionEspecial" placeholder="Comente aquí...">
        </div>
    </section>
    <section class="detail-añadirCarrito">
        <div class="detail-contenedorAñadirCarrito">
            <p>-  1  +</p>
        </div>
        <div class="detail-contenedorTotalCarrito">
        <h4 class="detail-totalCarrito">Añadir a la orden: ARS$520</h4>
        </div>
    </section>
</body>
</html>