<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo&family=Caudex&family=Dancing+Script&family=League+Spartan:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/productCart.css" />
    <title>Ver Orden</title>
  </head>
  <body>
    <div class="productCart-cajaTitulo">
      <h1 class="productCart-titulo">Mi Orden(1)</h1>
    </div>
    <div class="productCart-nombreTrago">
      <h3>Boody Cherry</h3>
      <div>
        <p class="productCart-precio">ARS$520</p>
      </div>
      <div class="productCart-editarRemove">
        <p class="productCart-editar">Editar</p>
        <p>Quitar</p>
        <div class="productCart-sumador">
            <p>-   1   +</p>
        </div>
      </div>
    </div>
    <div class="productCart-totalPagar">
        <p>Total a pagar: </p>
        <p>ARS$520</p>
    </div>
    <div class="productCart-cajaContinuarPagar">
        <p class="productCart-continuarPagar">Continuar y pagar.</p>
    </div>
  </body>
</html>
