<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Caudex&family=Dancing+Script&family=League+Spartan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css" />
    <title>Vaso 1/2 Lleno</title>
  </head>
<body>
    <header>
        <nav class="register-navBar">
          <nav class="register-cajaLogoNavBar">
            <div class="register-conteinerLogoYTitle">
              <img class="register-logoNavBar" src="./images/logo1.png" alt="logo" />
              <div class="register-conteinerTitleVaso12Lleno">
                <p>Vaso</p>
                <p>1/2</p>
                <p>Lleno</p>
              </div>
            </div>
            <nav class="register-loginNavBar">
              <a href="/"><h4>Home</h4></a>
              <a href="/about"><h4>Sobre Nosotros</h4></a>
              <h4>Iniciar Sesión</h4>
              <a href="/register"><h4>Registrarse</h4></a>
              <h4><i class="fas fa-shopping-cart"></i></h4>
            </nav>
              <i class="fas fa-bars"></i>
          </nav>
        </nav>
      </header>
      <form action="register.html" method="POST">
        <label for="nombreApellido" class="register-nombreApellido">Nombre y apellido:
          <input type="text" name="nombre" id="nombreApellido" placeholder="Nombre" class="register-casillaNombre">
          <input type="text" name="apellido" id="nombreApellido" placeholder="Apellido" class="register-casillaApellido">
      </label>
      <label for="nombreUsuario" class="register-nombreUsuario">Nombre de usuario: 
          <input type="text" name="usuario" id="nombreUsuario" placeholder="Nombre de usuario" class="register-casillaNombreUsuario">
      </label>
      <label for="email" class="register-email">Email: 
        <input type="email" name="email" id="email" class="register-casillaEmail" placeholder="Email:">
      </label>
      <label for="fechaNacimiento" class="register-fechaNacimiento">Fecha de fecha de nacimiento: 
          <input type="date" name="fecha" id="fechaNacimiento" value="aaaa-mm-dd" min="1900-00-00" class="register-casillaFechaNacimiento">
      </label>
<label for="perfilUsuario" class="register-perfilUsuario">Perfil de usuario
        <div class="register-separadorComprador">
          <input type="radio" name="comprador" id="perfilUsuario">Comprador
        </div>
        <div class="register-separadorVendedor">
          <input type="radio" name="vendedor" id="perfilUsuario">Vendedor
        </div>
      </div>
      </label>
<label for="fotoPerfil" class="register-fotoPerfil">Foto de perfil: 
        <input type="file" name="fotoPerfil" accept=".jpg, .png" class="register-casillaFotoPerfil">
      </label>
      <label for="contraseña" class="register-contraseña">Contraseña: 
        <input type="password" name="contraseña" id="contraseña" placeholder="Escribir contraseña" class="register-casillaContraseña">
      </label>
      <label for="confirmarContraseña" class="register-confirmarContraseña">
        <input type="password" name="confirmarContraseña" id="confirmarContraseña" placeholder="Confirmar contraseña" class="register-casillaConfirmar">
      </label>
      <div class="register-botones">
      <label for="enviar" class="register-enviar">
        <button type="submit" class="register-btnEnviar"><a href="/" class="register-txtEnviar">Enviar</a></button>
      </label>
      <label for="borrar" class="register-borrar">
        <button type="reset" class="register-btnBorrar">Borrar</button>
      </label>
      </div>
      </form>
      <footer>
        <div class="register-cajaContacto">
          <h2 class="contact">Contacto:</h2>
          <p><strong class="contact">Email: vasomediolleno@hotmail.com</strong></p>
          <p><strong class="contact">Sobre Nosotros</strong></p>
          <p><strong class="contact">Preguntas Frecuentes</strong></p>
        </div>
        <div class="register-cajaRedes">
          <div class="register-redes">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="register-redes">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="register-redes">
            <i class="fab fa-twitter"></i>
          </div>
        </div>
        </footer>
</body>
</html>