*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* BODY */
body{
    font-family: 'Caudex', serif;
    background-color: #ffcd32;
}
.detail-cajaWindowsClose{
    display: flex;
    flex-direction: row-reverse;
}
.fa-window-close{
    font-size: 28px;
    margin: 10px 10px 0px 0px;
}
.detail-imagenAmericana{
    width: 100%;
    padding: 45px 17px 7px 17px;
}
.detail-description{
    text-align: center;
}
.detail-nombreTrago{
    color: #ad0000;
}
.detail-precio{
    font-size: 20px;
    margin-bottom: 8px;
}
.detail-specialRequest{
    padding: 25px 0px 52px 0px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}
.detail-specialRequestBox{
    border: 1px solid gray;
    font-family: 'Caudex', serif;
    padding: 20px 110px;
    background-color: #ffcd32;
}
.detail-contenedorAñadirCarrito{
    border: 1px solid gray;
}
.detail-añadirCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    margin: 38px;
}
.detail-totalCarrito{
    justify-content: space-evenly;
    color: white;
    border-radius: 16px;
    border: none;
    font-size: 18px;
    padding: 5px;
    background-color: #0F2C67;
    font-family: 'Caudex', serif;
}

/* TABLET */

@media (min-width: 426px){
    /* BODY */
    body{
        font-family: 'Caudex', serif;
        background-color: #ffcd32;
    }
    .detail-imagenAmericana{
        width: 100%;
        padding: 45px 17px 7px 17px;
    }
    .detail-description{
        text-align: center;
    }
    .detail-nombreTrago{
        color: #ad0000;
    }
    .detail-specialRequest{
        padding: 25px 0px 52px 0px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid gray;
    }
    .detail-specialRequestBox{
        border: 1px solid gray;
        font-family: 'Caudex', serif;
        padding: 20px 110px;
        background-color: #ffcd32;
    }
    .detail-contenedorAñadirCarrito{
        border: 1px solid gray;
    }
    .detail-añadirCarrito{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 25px;
        margin: 38px;
    }
}

/* LAPTOP */

@media (min-width: 769px){
    .detail-contenedorImagen{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .detail-imagenAmericana{
        width: 85%;
    }
}

@media (min-width: 1025px){
    .detail-contenedorImagen{
        flex-direction: initial;
        width: 100%;
    }
    .detail-imagenAmericana{
        width: 100%;
    }
    .detail-cajaDetalle{
        display: flex;
    }
    .detail-specialRequest{
        border: none;
    }
    .detail-description{
        display: flex;
        flex-flow: column;
        text-align: justify;
        margin: 69px 20px 0px 0px;
    }
}
